<template>
  <div>
    <!-- <b-button v-b-toggle.collapse-1 variant="primary">Toggle Collapse</b-button> -->
    <div>
      <b-img
        v-b-toggle.collapse-1
        fluid
        :src="require('../assets/icon_item_scroll01.png')"
        alt="Image 1"
      ></b-img>
      <b-form-spinbutton
        id="demo-sb"
        v-model="value"
        min="0"
        max="100000"
        inline
      ></b-form-spinbutton>
      <b-form-input type="number" v-model.number="value"></b-form-input>
      <!-- <p>Value: {{ value }}</p> -->
    </div>
    <b-collapse id="collapse-1" class="mt-2">
      <b-card>
        <p class="card-text">Collapse contents Here</p>
        <b-button v-b-toggle.collapse-1-inner size="sm"
          >Toggle Inner Collapse</b-button
        >
        <b-collapse id="collapse-1-inner" class="mt-2">
          <b-card>Hello!</b-card>
        </b-collapse>
      </b-card>
    </b-collapse>
  </div>
</template>

<script>
export default {
  data() {
    return {
      value: 1
    };
  }
};
</script>

<style lang="sass"></style>
